.quiz_form {
  width: 45rem;
  /* height: 30rem; */
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row_1 {
  color: #9f9f9f;
  font-family: "Poppins";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}

.question {
  display: flex;
  gap: 0.5rem;
}

.question_list {
  display: flex;
  gap: 0.5rem;
}

.add_btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.number {
  border: 2px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  width: 3rem;
  cursor: pointer;
}

.selected_question {
  outline: 1px solid black;
}

.criteria {
  display: flex;
  align-items: center;
}

.row_2 {
  width: 100%;
}

.input_field {
  width: 100%;
  padding: 0.7rem;
  color: #9f9f9f;
  font-family: "Poppins";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.row_3 {
  display: flex;
  justify-content: space-around;
  color: #9f9f9f;
  font-family: "Poppins";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.option_type {
  display: flex;
  gap: 0.5rem;
}

.radio_btn {
  cursor: pointer;
}

.button_box {
  display: flex;
  justify-content: space-between;
}

.cancel,
.continue {
  color: #474444;
  font-family: "Poppins";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  width: 12.5rem;
  padding: 0.25rem;
  cursor: pointer;
}

.continue {
  color: white;
  background-color: #60b84b;
}

.options_container {
  display: flex;
  justify-content: space-between;
}

.col_1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}

.quiz_part_1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.option {
  display: flex;
  gap: 1rem;
}

.option_input,
.add_option {
  padding: 0.7rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  font-size: 1rem;
  width: 12.5rem;
  color: #9f9f9f;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.change_bg {
  background-color: #60b84b;
  color: white;
}

.change_bg::placeholder {
  color: #fff;
}

.add_option {
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.second_btn {
  width: 100%;
  padding-left: 1.9rem;
  /* display: flex;
  justify-content: flex-end; */
}

.remove_btn {
  margin-top: 0.7rem;
}

.delete_btn {
  cursor: pointer;
}

.col_2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.timer,
.timer_duration {
  color: #9f9f9f;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  line-height: normal;
}

.timer {
  font-size: 1rem;
}

.timer_duration {
  font-size: 0.8rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.add_bg {
  background-color: #d60000;
  color: #fff;
}

.remove_question {
  position: absolute;
  border: none;
  background-color: transparent;
  margin-top: -0.1rem;
  margin-left: 2.4rem;
  cursor: pointer;
}
